.common__link {
  text-decoration: none;
  width: fit-content;
}
.App {
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-self: center;
  align-self: center;
  margin: 0 auto; */
  /* position: relative;
  align-items: center; */
}